<div class="container">
    <p class="code">Podaj kod przesyłki</p>
    <div class="form">
        <input (input)="validateInput($event)" type="number" min="0" max="1000" placeholder="873234987612340872938732...">
        <button (click)="btnSubmit($event)" type="submit"></button>
    </div>
    <p [hidden]="hideError" class="error">
        Pamiętaj: każdy numer śledzenia musi mieć 24 cyfry. Możesz śledzić do 5 paczek jednocześnie.
    </p>
    <p [hidden]="resultError" class="error">
        Podana paczka nieistnieje.
    </p>
</div>