.container{
    height: 35vh;
    padding-top: calc(5vw + 12px);
}

#map{
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    height: 100%;
}

@media screen and (min-width: 601px) {
    .container{
        padding-top: calc(2vw + 12px);
        height: 50vh;
    }    
}

